body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-image: url("../images/glitter.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #converter-container {
  margin: auto;
}

body #converter-container > div {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #converter-container > div > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

body #converter-container > div > div p {
  text-align: center;
}

body #converter-container > div > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #converter-container > div > div form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

body #converter-container > div > div form section input {
  width: 100px;
  margin: auto;
}

body #converter-container > div > div form section input[type=number] {
  margin-right: 0;
}

body #converter-container > div > div form button {
  margin: 5px auto;
}

body #converter-container > div > div.color-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #converter-container > div > div.color-preview > div > div {
  margin: auto auto 20px auto;
  background-color: white;
  padding: 3px 10px;
}
/*# sourceMappingURL=main.css.map */