body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-image: url('../images/glitter.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    *{
        box-sizing: border-box;
    }
    #converter-container{
        margin: auto;
        &>div{
            width: 400px;
            height: 200px;
            background-color: white;
            border-radius: 5px;
            margin: 20px;
            display: flex;
            &>div{
                flex: 1;
                padding: 10px;
                p{
                    text-align: center;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    section{
                        display: flex;
                        margin: 5px;
                        input{
                            width: 100px;
                            margin: auto;

                        }
                        input[type=number]{
                            margin-right: 0;
                        }
                    }
                    button{
                        margin: 5px auto;
                    }
                }
                &.color-preview>div{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: 2px solid black;
                    display: flex;

                    &>div{
                        margin: auto auto 20px auto;
                        background-color: white;
                        padding: 3px 10px;
                    }
                }
            }
        }
    }
}